h1.site_header {
  color: black;
  font-size: 75px;
  font-family: 'Arizonia', cursive;
  text-align: center;
  margin-top: -50px;
}

h1.site_header_c {
	margin-bottom: 0px;
  color: white;
  font-size: 75px;
  font-family: 'Arizonia', cursive;
  text-align: center;
}

.site_header_d {
  color: red;
  opacity: 1;
  font-size: 65px;
  font-family: 'Finger Paint', cursive;
  font-style: italic;
  text-align: center;
}

td.header_tab {
  padding: 20px 20px 0 20px;
}

table.header_tab {
  margin-left: auto;
  margin-right: auto;
}

.site_header {
}

.site_footer {
	font-size: 16px;
	font-family: 'Comfortaa', cursive;
	max-width: 90%;
	margin: 10px auto 10px auto;
}