body {
	background-color: white;
	min-height: 90vh;
	margin: 0px;
}

h1.site_header {
	color: black;
	font-size: 75px;
  font-family: 'Arizonia', cursive;
}

td.header_tab {
	padding: 20px;
}

.top_backdrop {
	height: 300px;
	background-image: url("/images/top_backdrop.jpeg");
	background-size: contain;
	background-repeat: no-repeat;
}
.right_backdrop {
	margin: -100px 0px 0px 0px;
	height: 600px;
	width: 200px;
	max-width: 15%;
	float: right;
	background-image: url("/images/right_backdrop.jpeg");
	background-size: contain;
	background-repeat: no-repeat;
}
.bottom_backdrop {
	height: 300px;
	width: 300px;
	max-width: 75%;
	float: right;
	background-image: url("/images/bottom_backdrop.jpeg");
	background-size: contain;
	background-repeat: no-repeat;
}

.cursive { font-family: 'Arizonia', cursive; }
.simple  { font-family: 'Comfortaa', cursive; }

.outer_block {
	margin: -300px 0px 0px 0px;
	max-width: 85%;
	min-height: 90vh;
	margin-left: auto;
	margin-right: auto;
	font-family: verdana;
	font-size: 12px;
	padding: 10px 10px 10px 10px;
}
.site_header {
}
.site_body {
	min-height: 90vh;
}
.site_title {
	font-size: 48px;
	font-family: 'Arizonia', cursive;
	text-align: center;
}
.site_content {
	font-size: 20px;
	font-family: 'Comfortaa', cursive;
	max-width: 80%;
	margin: auto;
}
