body {
	background-color: white;
	background-image: url("/images/top_backdrop.jpeg"), url("/images/bottom_backdrop.jpeg");
	background-size: 20% auto, 25% auto;
	background-position: 0% 0%, 100% 100%;
	background-repeat: no-repeat;
	min-height: 90vh;
	margin: 0px;
}

td.body_left {
	width: 12%;
}
td.body_center {
	width: 76%;
}
td.body_right {
	width: 12%;
  background-image: url("/images/right_backdrop.jpeg");
  background-position: 100% 25%;
  background-size: contain;
  background-repeat: no-repeat;
}

td.footer_right {
	width: 24%;
	background-image: url("/images/bottom_backdrop.jpeg");
  background-position: 100% 25%;
  background-size: contain;
  background-repeat: no-repeat;
}

.cursive { font-family: 'Arizonia', cursive; }
.simple  { font-family: 'Comfortaa', cursive; }

.outer_block {
	width: 100%;
	min-height: 90vh;
	margin: 0 0 0 0;
}

.site_body {
	min-height: 90vh;
	margin-top: 20px;
	margin-bottom: 100px;
}

.site_title {
	font-size: 48px;
	font-family: 'Arizonia', cursive;
	text-align: center;
	margin: 10px auto 10px auto;
}
.site_sub_title {
	font-size: 36px;
	font-family: 'Arizonia', cursive;
	test-align: left;
	margin: 10px auto 10px auto;
}
.site_content {
	font-size: 20px;
	font-family: 'Comfortaa', cursive;
	max-width: 90%;
	margin: 10px auto 10px auto;
}
.vertical_line {
	border-left: 3px double darkgreen;
}
.horizontal_divide {
	border-bottom: 3px double darkgreen;
	margin: auto;
}

.ydot {
  height: 20px;
  width: 20px;
  background-color: gold;
  border-radius: 50%;
  display: inline-block;	
}
